<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Autor: Jésus Sepúlveda</h2>
    <img src="/images/IMG315.jpg">
   </body>
</html>